.carousel-container {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 30px;
}

.swiper {
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible; /* Permite que la tarjeta no se recorte */
}


.swiper-pagination-bullet {
  background-color: black !important;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}