@import "tailwindcss";

main {
  margin-top: 90px; 
}
body {
  margin: 0;
}

@media (max-width: 768px) {
  main {
    margin-top: 85px; 
  }
  body {
    margin: 0;
  }
}
@media (max-width: 480px) {
  main {
    margin-top: 75px; 
  }
  body {
    margin: 0;
  }
}
  