---
import BaseLayout from "../../layouts/BaseLayout.astro";

const lang = "en";
const title = "About Us | Maju";
---

<BaseLayout lang={lang} title={title}>
  <h1>Learn more about us</h1>
</BaseLayout>
