---
import BaseLayout from "../../layouts/BaseLayout.astro";

const lang = "en";
const title = "Contact Us | Maju";
---

<BaseLayout lang={lang} title={title}>
  <h1>Get in touch with us</h1>
</BaseLayout>
