---
import BaseLayout from "../../layouts/BaseLayout.astro";

const lang = "en";
const title = "Menu | Maju";
---

<BaseLayout lang={lang} title={title}>
  <h1>Explore our delicious menu</h1>
</BaseLayout>
