---
// Importación de productos y componente de tarjeta
import CardProduct from './card-product.astro';
import products from '../../data/products.json';

interface Product {
  image: string;
  title: string;
  description: string;
  price: number;
}
---

<div class="list-products">
  {products.map((product: Product) => (
    <CardProduct 
      image={product.image} 
      title={product.title} 
      description={product.description} 
      price={product.price} 
    />
  ))}
</div>

<style>
.list-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 150px;
  max-width: 1700px;
  margin: 0 auto;
  justify-content: center;
  align-items: stretch; 
  padding: 10px;
}
</style>
