.carousel-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.swiper {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    background-color: black !important;
    width: 10px;
    height: 10px;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

@media (max-width: 360px) {
    .carousel-slide {
        height: 500px !important;
    }

    .carousel {
        height: 570px !important;
    }
}