---
import BaseLayout from "../layouts/BaseLayout.astro";

const lang = "es";
const title = "Sobre Nosotros | Maju";
---

<BaseLayout lang={lang} title={title}>
  <h1>Conoce más sobre nosotros</h1>
</BaseLayout>
