---
import BaseLayout from "../layouts/BaseLayout.astro";

const lang = "es";
const title = "Contáctanos | Maju";
---

<BaseLayout lang={lang} title={title}>
  <h1>Ponte en contacto con nosotros</h1>
</BaseLayout>
