---
import BaseLayout from "../layouts/BaseLayout.astro";  

const lang = "es";
const title = "Menú | Maju";
---

<BaseLayout lang={lang} title={title}>
  <h1>Explora nuestro delicioso menú</h1>
</BaseLayout>
