---
import SearchInput from './SearchInput.astro';
import SelectInput from './SelectInput.astro';
---

<style>
  .search-filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    max-width: 800px; /* 游댳 Aumenta el ancho en pantallas grandes */
    margin: 0 auto;
    padding: 10px;
  }

  .search-filter-container > * {
    flex: 1; /* 游댳 Hace que los elementos crezcan din치micamente */
  }

  .search-filter-container > SelectInput {
    flex: 0.3; /* 游댳 Reduce el tama침o del selector */
    min-width: 120px; /* 游댳 Evita que se haga muy peque침o */
  }

  .waterfall-container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 80px;
  }

  .waterfall-title {
  font-size: 80px; /* 游댳 Aumenta el tama침o del texto */
  font-weight: 500; /* 游댳 Hace que se vea m치s s칩lido */
  font-family: 'Waterfall', cursive;
  color: black;
  margin-bottom: 16px;
  margin-top: 16px; /* 游댳 Un poco m치s de espacio debajo */
}

  @media (max-width: 768px) {
    .search-filter-container {
      flex-direction: column;
      width: 90%; /* 游댳 Ajuste de ancho para pantallas peque침as */
    }

    .search-filter-container > * {
      width: 100%; /* 游댳 Ocupa todo el ancho disponible */
    }
  }

  /* Media query para pantallas medianas */
  @media (min-width: 768px) and (max-width: 1023px) {
    .waterfall-title {
      margin-top: 0px;
      font-size: 70px;
    }
  }

  @media (min-width: 360px) and (max-width: 767px) {
    .waterfall-title {
      font-size: 50px;
      margin: 0 20px;
    }
  }
</style>

<div class="waterfall-container">
  <h2 class="waterfall-title">춰Descubre nuestros deliciosos productos!</h2>
</div>


<div class="search-filter-container">
  <SearchInput />
  <SelectInput />
</div>
