---
import heroImg from '../assets/Hero.jpeg';
---

<section
  class="relative py-10" 
  style={`background-image: url('${heroImg.src}'); background-size: cover; background-position: center;`}
>
  <!-- Overlay para suavizar los tonos de la imagen -->
  <div class="absolute inset-0 bg-white opacity-50 z-0"></div>
  
  <div class="relative z-10 mx-auto px-4 max-w-7xl">
    <div class="relative h-[400px] p-6">
      <div class="bg-white bg-opacity-90 p-4 sm:p-6 md:p-8 rounded-md shadow-md max-w-md">
        <!-- H2 con Montserrat en negrita -->
        <h2 class="font-montserrat font-bold text-1xl md:text-1xl text-gray-900 mb-4">
          Donde la pasión por los pasteles y el café se encuentra
        </h2>
        
        <!-- H1 con Waterfall (y en negrita si lo deseas) -->
        <h1 class="font-waterfall text-3xl md:text-4xl text-gray-900 mb-6">
          Bienvenidos al Mundo de Maju.
        </h1>
        
        <!-- Párrafo con Montserrat (normal) -->
        <p class="font-montserrat text-base md:text-lg text-gray-700 mb-8">
          Explora nuestra selección única de delicias, desde pasteles artesanales hasta el café más aromático. ¡Déjate sorprender por Maju!
        </p>
        
        <button
          id="menuButton"
          class="bg-black text-white px-4 py-2 rounded-full flex items-center space-x-2 hover:bg-opacity-100 transition duration-300"
        >
          <span>Mira nuestro menú</span>
        </button>
      </div>
    </div>
  </div>
</section>
