---
import CarouselProduct from "./Carousel-products/carousel-product";

---

<section class="team">
  <h2 class="texto">Productos Destacados...</h2>
  <CarouselProduct client:only="react" />
</section>

<style>

  .texto{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 100px;
    color: #895737;
  }

  .team {
    text-align: center;
    padding: 2rem 1rem;
  }

  .carousel-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  h2 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 2.5rem;
    font-family: "Waterfall", sans-serif;
    font-weight: 300;
  }

  p {
    font-size: 1rem;
    font-weight: 300px;
    color: #555;
    font-family: "Montserrat", sans-serif;
  }
</style>
