---
import BaseLayout from "../../layouts/BaseLayout.astro";

const lang = "de";
const title = "Über Uns | Maju";
---

<BaseLayout lang={lang} title={title}>
  <h1>Erfahren Sie mehr über uns</h1>
</BaseLayout>
