---
import BaseLayout from "../../layouts/BaseLayout.astro";

const lang = "de";
const title = "Kontakt | Maju";
---

<BaseLayout lang={lang} title={title}>
  <h1>Nehmen Sie Kontakt mit uns auf</h1>
</BaseLayout>
