---
import BaseLayout from "../../layouts/BaseLayout.astro";

const lang = "de";
const title = "Startseite | Maju";
---

<BaseLayout lang={lang} title={title}>
  <h1>Willkommen bei Maju</h1>
</BaseLayout>
