---
import BaseLayout from "../../layouts/BaseLayout.astro";

const lang = "de";
const title = "Speisekarte | Maju";
---

<BaseLayout lang={lang} title={title}>
  <h1>Entdecken Sie unsere köstliche Speisekarte</h1>
</BaseLayout>
